<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
<!-- Название у нас будет news -->
{% block title %}
Новости
{% endblock title %}


{% block content %}
<h1 class="text-center">Новости <span class="text-muted fs-6 fw-normal"> Всего: {{page_obj.paginator.count}} </span></h1>
    {% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a> </p>
    {% else %}
       <p class = "text-center"><a href = "{% url 'unsubscribe' category.id %}" class = "btn btn-secondary btn-sm">Отписаться</a></p>
   {% endif %}

<hr>

<ul class="list-group list-group-flush">
    {% for newspost in category_list %}
        <li class="list-group-item">
            <small class="fw-bold">{{ newspost.dateCreation | date:'d M Y' }} </small>
            <a href="{% url 'post_detail' newspost.id %}">{{ newspost.title}}</a>
            <small class="text-muted">(автор: {{ newspost.author}})</small> <br>
            <small class="fw-bold">категории:
                {% for category in newspost.category.all %}
                <a href="{% url 'category_list' category.id %}" > {{category}} </a>
                {% endfor %}
            </small>
            <p>{{newspost.text | truncatechars:150}}</p>
        </li>
    {% endfor %}




   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}

   {% endif %}

{% endblock content %}